﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <a href="index.html" class="logo"><strong>Gez Gör</strong> Anlat!</a>
                    <ul class="icons">
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    </ul>
                </header>
               <br />
                <div>
                    @RenderBody()
                </div>
            </div>
        </div>
       

            <!-- Sidebar -->
            <div id="sidebar">
                <div class="inner">

                    <!-- Search -->
                    <section id="search" class="alt">
                        <form method="post" action="#">
                            <input type="text" name="query" id="query" placeholder="Ara" />
                        </form>
                    </section>

                    <!-- Menu -->
                    <nav id="menu">
                        <header class="major">
                            <h2>Menü</h2>
                        </header>
                        <ul>
                            <li><a href="index.html">AnaSayfa</a></li>
                            <li>
                                <span class="opener">Üyelik</span>
                                <ul>
                                    <li><a href="#">Kayıt Ol</a></li>
                                    <li><a href="#">Giriş Yap</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="opener">Seyahat Anıları</span>
                                <ul>
                                    <li><a href="#">İnterrail</a></li>
                                    <li><a href="#">Work & Travel</a></li>
                                    <li><a href="#">Turlar</a></li>
                                    <li><a href="#">Kişisel Geziler</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Hakkında</a></li>
                        </ul>
                    </nav>



                    <!-- Section -->
                    <section>
                        <header class="major">
                            <h2>Son Gönderiler</h2>
                        </header>
                        <div class="mini-posts">
                            <article>
                                <a href="#" class="image"><img src="~/images/paris.jpg" alt="" /></a>
                                <p>1.Post</p>
                            </article>
                            <article>
                                <a href="#" class="image"><img src="~/images/roma.jpg" alt="" /></a>
                                <p>2.Post</p>
                            </article>
                            <article>
                                <a href="#" class="image"><img src="~/images/amsterdam.jpg" alt="" /></a>
                                <p>3.Post</p>
                            </article>
                        </div>
                        <ul class="actions">
                            <li><a href="#" class="button">DAHA FAZLA</a></li>
                        </ul>
                    </section>

                    <!-- Section -->
                    <section>
                        <header class="major">
                            <h2>Bizimle İletişime Geçin</h2>
                        </header>
                        <p>Sorularınız ve görüşleriniz için bizimle aşağıdaki adresler aracılığıyla iletişime geçebilirsiniz.</p>
                        <ul class="contact">
                            <li class="fa-envelope-o"><a href="#">g141210074@sakarya.edu.tr</a></li>
                            <li class="fa-phone">(000) 000-0000</li>
                            <li class="fa-home">
                                Sakarya Üniversitesi Esentepe Kampüsü<br />
                                BBBF, 2-C WebProgramlama
                            </li>
                        </ul>
                    </section>

                    <!-- Footer -->
                    <footer id="footer">
                        <p class="copyright">&copy; Bu Web sitesi Sakarya Üniversitesi Web Programlama Dersi İçin Hazırlanmıştır. Tema Ücretsiz Bir Temadır ve Yeniden Düzenlenmiştir.</p>
                    </footer>

                </div>
            </div>

        </div>


    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>





</body>
</html>
