﻿
@{
    ViewBag.Title = "Gez Gör Anlat!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>
                Gez Gör Anlat Blog Sayfasına<br />
                Hoşgeldiniz.
            </h1>
            <p>Gezginler burada buluşuyor!</p>
        </header>

        <p>Yurtdışına gitmiş olan insanların bilgileriyle, yeni yerler keşfetmek için
araştırmalarda bulunan insanları buluşturacak bir portal olacak.
Yurtdışına seyahate çıkmış kişiler edindikleri tecrübeyi, gezdikleri
yerleri, yedikleri yemekleri, ulaşım ücretlerini kısacası yaşadıkları tüm
deneyimleri maddi manevi aktardıkları bir yazı yazacaklar. Bu yazıların
sitede kullanıma sunulması için yöneticiler tarafından onaylanması
gerekecek. Yönetici onayını alan yazılar yayınlanacak ve tüm
kullanıcıların huzuruna sunulacak. Yani klasik bir blog sitesi gibi tüm
yazılar tek bir kişinin elinden çıkmayacak. Farklı insanlar farklı
deneyimlerini anlatarak bir çok farklı görüşün oluşması sağlanacak.</p>
        <ul class="actions">
            <li><a href="#" class="button big">Dahasını Gör</a></li>
        </ul>
    </div>
    <span class="image object">
        <img src="~/images/giris.jpg" alt="" />
    </span>
</section>

<!-- Section -->


<!-- Section -->
<section>
    <header class="major">
        <h2>Anılar,Tavsiyeler</h2>
    </header>
    <div class="posts">
        <article>
            <a href="#" class="image"><img src="~/images/newyork.jpg" alt="" /></a>
            <h3>NEW YORK</h3>
            <p>Ressamlar Tepesi Paris’te Paris’in merkezine birkaç sokak ötede bir meydandır. Montmartre bölgesinin kalbidir. Geçmişten günümüze gelen birçok dünyaca ünlü sanatçının Montmartre Tepesi üzerinde stüdyoları bulunmaktadır.</p>
            <ul class="actions">
                <li><a href="#" class="button">DAHA FAZLA</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="~/images/amsterdam.jpg" alt="" /></a>
            <h3>AMSTERDAM</h3>
            <p>Ressamlar Tepesi Paris’te Paris’in merkezine birkaç sokak ötede bir meydandır. Montmartre bölgesinin kalbidir. Geçmişten günümüze gelen birçok dünyaca ünlü sanatçının Montmartre Tepesi üzerinde stüdyoları bulunmaktadır.</p>
            <ul class="actions">
                <li><a href="#" class="button">DAHA FAZLA</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="~/images/paris.jpg" alt="" /></a>
            <h3>PARİS</h3>
            <p>Ressamlar Tepesi Paris’te Paris’in merkezine birkaç sokak ötede bir meydandır. Montmartre bölgesinin kalbidir. Geçmişten günümüze gelen birçok dünyaca ünlü sanatçının Montmartre Tepesi üzerinde stüdyoları bulunmaktadır.</p>
            <ul class="actions">
                <li><a href="#" class="button">DAHA FAZLA</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="~/images/barcelona.jpg" alt="" /></a>
            <h3>BARCELONA</h3>
            <p>Ressamlar Tepesi Paris’te Paris’in merkezine birkaç sokak ötede bir meydandır. Montmartre bölgesinin kalbidir. Geçmişten günümüze gelen birçok dünyaca ünlü sanatçının Montmartre Tepesi üzerinde stüdyoları bulunmaktadır.</p>
            <ul class="actions">
                <li><a href="#" class="button">DAHA FAZLA</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="~/images/roma.jpg" alt="" /></a>
            <h3>ROMA</h3>
            <p>Ressamlar Tepesi Paris’te Paris’in merkezine birkaç sokak ötede bir meydandır. Montmartre bölgesinin kalbidir. Geçmişten günümüze gelen birçok dünyaca ünlü sanatçının Montmartre Tepesi üzerinde stüdyoları bulunmaktadır.</p>
            <ul class="actions">
                <li><a href="#" class="button">DAHA FAZLA</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="~/images/prag.jpg" alt="" /></a>
            <h3>PRAG</h3>
            <p>Ressamlar Tepesi Paris’te Paris’in merkezine birkaç sokak ötede bir meydandır. Montmartre bölgesinin kalbidir. Geçmişten günümüze gelen birçok dünyaca ünlü sanatçının Montmartre Tepesi üzerinde stüdyoları bulunmaktadır.</p>
            <ul class="actions">
                <li><a href="#" class="button">DAHA FAZLA</a></li>
            </ul>
        </article>
    </div>
</section>

<section>
    <header class="major">
        <h2>Seyahat Fotoğrafları</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-diamond"></span>
            <div class="content">
                <h3>Portitor ullamcorper</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-paper-plane"></span>
            <div class="content">
                <h3>Sapien veroeros</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-rocket"></span>
            <div class="content">
                <h3>Quam lorem ipsum</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
        <article>
            <span class="icon fa-signal"></span>
            <div class="content">
                <h3>Sed magna finibus</h3>
                <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            </div>
        </article>
    </div>
</section>
